# Generated CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Generated Visual Studio files
/plugins/Debug/
/plugins/Release/
/plugins/Win*/
/Debug/
/Release/
/Win*/
*.sln
*.suo
*.*sdf
*.vc?proj*

# Generated Makefiles
/plugins/Makefile
/plugins/*/Makefile
/src/Makefile
/Makefile

# Generated Qt files
/plugins/**/*.dir/
/src/copyqcon.dir/
/src/copyq.dir/
/src/copyq_*.qm
/src/copyq_*.qm.rule
/src/qrc_copyq.cxx
/src/translations.qrc
/src/qrc_translations.cxx

moc_*
ui_*
*.depends
*.o
*.dylib
*.moc
**/qrc_*.cpp
/.qmake.cache
/copyq.app
copyq.pro.user*
CMakeLists.txt.user*
.DS_Store
.qmake.stash
*.pyc
*.dmg
/build
*.qm

# Generated Sphinx files
/docs/_build

# Generated Flatpak files
/shared/flatpak/.flatpak-builder
/shared/flatpak/copyq

# Visual Studio Code
/.vscode

# Files for utils/launchpad/build.sh
.gitconfig
launchpad.key
copyq
install_manifest.txt
plugins/libitemencrypted.so
plugins/libitemfakevim.so
plugins/libitemimage.so
plugins/libitemnotes.so
plugins/libitempinned.so
plugins/libitemsync.so
plugins/libitemtags.so
plugins/libitemtext.so
plugins/itemencrypted/itemencrypted_autogen/mocs_compilation.cpp
plugins/itemfakevim/itemfakevim_autogen/mocs_compilation.cpp
plugins/itemimage/itemimage_autogen/mocs_compilation.cpp
plugins/itemnotes/itemnotes_autogen/mocs_compilation.cpp
plugins/itempinned/itempinned_autogen/mocs_compilation.cpp
plugins/itemsync/itemsync_autogen/mocs_compilation.cpp
plugins/itemtags/itemtags_autogen/mocs_compilation.cpp
plugins/itemtext/itemtext_autogen/mocs_compilation.cpp
shared/com.github.hluk.copyq.desktop
src/copyq_autogen/mocs_compilation.cpp
src/copyq_autogen/include/mainwindow.moc.d
src/copyq_autogen/include/notificationbasic.moc.d
src/copyq_autogen/include/notificationnative.moc.d
src/platform/x11/systemclipboard/libsystemclipboard.a
src/platform/x11/systemclipboard/Makefile
src/platform/x11/systemclipboard/qwayland-wlr-data-control-unstable-v1.cpp
src/platform/x11/systemclipboard/qwayland-wlr-data-control-unstable-v1.h
src/platform/x11/systemclipboard/wayland-wlr-data-control-unstable-v1-client-protocol.h
src/platform/x11/systemclipboard/wayland-wlr-data-control-unstable-v1-protocol.c
src/platform/x11/systemclipboard/systemclipboard_autogen/mocs_compilation.cpp
src/platform/x11/systemclipboard/systemclipboard_autogen/include/waylandclipboard.moc.d
